spring:
  application:
    name: nodehistj
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost:5432}/${POSTGRES_DB:nodehistj_historic}
    username: ${POSTGRES_USER:user}
    password: ${POSTGRES_PASSWORD:password}
  cache:
    redis:
      time-to-live: 12h
      cache-null-values: false
      key-prefix: 'historic:'
      use-key-prefix: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER:localhost:9092}
    consumer:
      group-id: nodehistj-historic
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
      enable-auto-commit: false
    listener:
      ack-mode: MANUAL
server:
  servlet:
    context-path: /historic
minio:
  url: ${MINIO_URL:http://localhost:9000/}
  access-key: ${MINIO_USER}
  secret-key: ${MINIO_PASSWORD}
app:
  minio:
    bucket: ${MINIO_BUCKET:nodehistj}
logging:
  level:
    ru:
      oldzoomer: ${LOG_LEVEL:INFO}