<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <property name="severity" value="error"/>
  
  <module name="FileLength">
    <property name="max" value="1000"/>
  </module>

  <module name="LineLength">
    <property name="max" value="120"/>
  </module>

  <module name="SuppressWarningsFilter"/>
  
  <module name="TreeWalker">
    <!-- Подавление ошибок через аннотацию -->
    <module name="SuppressWarningsHolder"/>
    <!-- Импорты -->
    <module name="UnusedImports"/>
    
    <!-- Форматирование -->
    <module name="Indentation">
      <property name="basicOffset" value="4"/>
    </module>
    
    <!-- Лучшие практики -->
    <module name="AvoidNestedBlocks"/>
    <module name="EmptyBlock"/>
    <module name="NeedBraces"/>
    
    <!-- Аннотации -->
    <module name="AnnotationLocation"/>
    
    <!-- Именование -->
    <module name="TypeName"/>
    <module name="MethodName">
      <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
    </module>
    <module name="ParameterName">
      <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
    </module>
  </module>
</module>