spring:
  application:
    name: nodelistj-download-nodelists
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    topic:
      download-nodelists-is-finished-topic:
        partitions: ${KAFKA_TOPIC_DOWNLOAD_NODELISTS_IS_FINISHED_TOPIC_PARTITIONS:5}
        replicas: ${KAFKA_TOPIC_DOWNLOAD_NODELISTS_IS_FINISHED_TOPIC_REPLICAS:1}
ftp:
  host: ${FTP_HOST:wfido.ru}
  port: ${FTP_PORT:21}
  user: ${FTP_USER:anonymous}
  password: ${FTP_PASSWORD:anonymous@}
  path: ${FTP_PATH:/nodehist/}
  download-from-year: ${FTP_DOWNLOAD_FROM_YEAR:1984}
s3:
  url: ${S3_URL:http://localhost:9000/}
  access-key: ${S3_USER}
  secret-key: ${S3_PASSWORD}
  bucket: ${S3_BUCKET:nodehistj}
  region: ${S3_REGION:us-east-1}
  path-style-url: ${S3_PATH_STYLE_URL:true}
logging:
  level:
    ru:
      oldzoomer: ${LOG_LEVEL:INFO}